.addFriend .modal-dialog {
    height: 800px;
}
.addFriend .modal-content {
    height: 700px;
    overflow: auto;
    background: rgba(35, 93, 173, 1);
}
.addFriend .modal-content {
    width: 600px;
}

.addFriend .secondary_btn {
    height: 50px;
}

.addFriend .modal-header {
    height: 50px;
    position: sticky;
}
.modal-footer {
    justify-content: center;
}

.addFriend {
    overflow: auto;
}

.friendBox {
    background: #fff;
    padding: 5px;
    margin-bottom: 5px;
    border: 0.5px solid;
    border-color: lightgray;
    border-radius: 5px;
}

.modal-title {
    color: white;
    
}
.modal-title:hover {
    cursor: pointer;
}

.profile__img {
    width: 30%;
    height: 50%;
    margin-top: 5%;
}

.profile__img img {
    width: 100%;
}

.profile__aboutme {
    border: solid white;
    width: 60%;
    padding: 40px;
    font-size: 2.5rem;
    line-height: 50px;
    margin: 5%
}